/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(138, 90%, 32%);
  --clr-primary-2: hsl(125, 94%, 30%);
  --clr-primary-3: hsl(125, 94%, 30%);
  --clr-primary-4: hsl(125, 94%, 30%);
  /* primary/main color */
  --clr-primary-5: hsl(0, 0%, 96%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(125, 94%, 30%);
  --clr-primary-7: hsl(125, 94%, 30%);
  --clr-primary-8: hsl(125, 94%, 30%);
  --clr-primary-9: hsl(125, 94%, 30%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
  =============== 
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

@media screen and (max-width: 700px) {
  .Logo {
    display: flex;
    width: 100px;
  }
  .links a {
    color: rgb(82, 82, 82);
    font-size: 0.8rem;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
  }
  .links a:hover {
    background: var(--clr-primary-8);
    color: rgb(255, 255, 255);
    padding-left: 1.5rem;
  }
}

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-header > a {
  font-size: 1.5rem;
  color: var(--clr-primary-3);
}

.nav-toggle {
  font-size: 1.5rem;
  color: rgb(19, 19, 19);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}

.social-icons {
  display: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .links a {
    padding: 0;
    margin: 0 0.6rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .social-icons a {
    margin: 0 0.8rem;
    color: rgb(153, 153, 153);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }

  .links a {
    color: rgb(82, 82, 82);
    font-size: 1.2rem;
    display: block;
  }
  .links a:hover {
    color: black;
    transition: 1000ms;
  }

  .Logo {
    width: 180px;
    height: auto;
  }
}
